<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="expense.css">
  </head>
  <body>
    <header>
      <h1>EXPENSE TRACKER</h1>
    </header>

    <section class="container">
      <form id="my-form" onsubmit="add(event)">
        <div>
          <label for="expense_amount">Choose Expense Amount:</label>
          <input type="text" id="amount" required>
        </div>
        <div>
          <label for="description">Choose Description:</label>
          <input type="text" id="description" required>
        </div>
        <div>
            <label for="category">Choose a Category</label>
            <select name="category" id="category" required>
                <!-- <option value="Choose a Category" selected>Choose a Category</option> -->
                <option value="movie" id="option">Movie</option>
                <option value="vacation" id="option">Vacation</option>
                <option value="workation" id="option">Workation</option>
                <option value="picnic"id="option">Picnic</option>
            </select>
        </div>
        <input class="btn" type="submit" value="Add Expense">
      </form>
      <ul></ul>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
    <script src="expense.js"></script>
  </body>
</html>
